/*select*/
.select-wrap .triangle{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  vertical-align: middle;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
.js-select {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
.select-wrap {
  position: relative;
  display: inline-block;
}
.select-wrap .select-input {
  border-radius: 4px;
  line-height: 20px;
  padding: 6px 12px;
  color: #555;
  border: 1px solid #ccc;
  cursor: pointer;
  padding-right: 32px;
}
.select-wrap .select-input:focus {
  border-color: #4bbac5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.select-wrap .triangle {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -2px;
  border-top: none;
  border-top: 4px solid #555;
}

.select-wrap .select-ulDiv{
  position: absolute;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  padding: 10px 12px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.select-wrap .select-ulDiv ul {
  max-height: 150px;
  overflow-y: auto;
}
.select-wrap .select-ulDiv li {
  line-height: 20px;
  padding: 6px 12px 6px 0;
  padding-right: 32px;
  color: #555;
  cursor: pointer;
  /*word-wrap: break-word;*/
  white-space: nowrap;
  text-align: left;
}
.select-wrap .select-ulDiv li:hover {
  background-color: #EEE;
  border-radius: 4px;
}
.select-wrap .select-ulDiv li.footer-wrap:hover {
  background-color: #FFF;
  cursor: default;
}
.select-wrap .select-ulDiv li.disabled:hover {
  cursor: no-drop;
}
/*radio*/
.radio-label { 
  line-height: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  color: #555;
  display: block;
  float: left;
  margin: 2px;
}
.radio-label a{ 
  position: relative;
  border: 1px solid #cfcfcf;
  display: block;
  color: #555;
  background-color: #fff;
}
.radio-label a:hover,.radio-label a.actived {
  border-color: #4bbac5;
  color: #333;
  text-decoration: none;
}
.radio-label a.actived .hook {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url(./images/hook.png) right bottom no-repeat;
}
.js-radio {
  display: none;
}
.radio-label a.disabled {
  background: #EEE;
  cursor: no-drop;
}
/*checkbox*/
.checkbox-label {
  line-height: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  color: #555;
}
.checkbox-label a{
  position: relative;
  border: 1px solid #cfcfcf;
  display: block;
  color: #555;
  background-color: #fff;
}
.checkbox-label a:hover,.checkbox-label a.actived {
  border-color: #4bbac5;
  color: #333;
  text-decoration: none;
}
.checkbox-label a.actived .hook{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url(./images/hook.png) right bottom no-repeat;
  
}
.js-checkbox {
  display: none;
}
.checkbox-label a.disabled {
  background: #EEE;
  cursor: no-drop;
}
