<div class="my-dialog-left"><em class="my-dialog-icon icon-bounce"></em></div>
<div class="my-dialog-right">
    <p class="my-dialog-strong">你确定要给  {{username}}<span class="my-dialog-red">{{text}}</span>？</p>

</div>