<ul class="jstree-editable">
    <li class="add"><i class="icon icon-plus"></i>新增</li>
    <li class="edit"><i class="icon fa fa-edit"></i>编辑</li>
    <li class="del"><i class="icon glyphicon glyphicon-trash"></i>删除</li>
</ul>